body{
    font-family:Arial,sans-serif;
    margin:20px;
}

table {
    border-collapse: collapse;
    table-layout: fixed; /* IMPORTANT */
    width: 100%;
}

th, td {
    width: 80px;        /* largeur fixe */
    height: 40px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

td {
    width: 80px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000;

    overflow: hidden;
}

.selectors{
    margin-top:30px;
}

.cell-text {
    font-size: 15px;
    display: block;

    white-space: normal;      /* autorise les retours à la ligne */
    word-wrap: break-word;    /* coupe les mots longs si besoin */
    overflow-wrap: break-word;

    line-height: 1.1;
}