body{
    font-family:Arial,sans-serif;
    margin:20px;
}

table {
    border-collapse: collapse;
    table-layout: fixed; /* IMPORTANT */
    width: 100%;
}

th, td {
    width: 80px;        /* largeur fixe */
    height: 40px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

td {
    position: relative;
}

.selectors{
    margin-top:30px;
}

.cell-text {
    font-size: 10px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}